// Font sizing system
:root {
  --font-10: 0.625rem;
  --font-12: 0.75rem;
  --font-14: 0.875rem;
  --font-16: 1rem;
  --font-18: 1.125rem;
  --font-20: 1.25rem;
  --font-24: 1.5rem;
  --font-30: 1.875rem;
  --font-36: 2.25rem;
  --font-44: 2.75rem;
  --font-52: 3.25rem;
  --font-62: 3.875rem;
  --font-74: 4.625rem;
  --font-86: 5.375rem;
  --font-98: 6.125rem;
}
//

// Spacing system
:root {
  --spacing-2: 0.125rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-24: 1.5rem
  --spacing-32: 2rem;
  --spacing-48: 3rem;
  --spacing-64: 4rem;
  --spacing-80: 5rem;
  --spacing-96: 6rem;
  --spacing-128: 8rem;
}
//
